name: Validate

on:
  push:
    branches:
      - 'main'
  workflow_call:
  pull_request:
    branches:
      - 'main'

concurrency:
  group: validate-${{ github.ref_name }}
  cancel-in-progress: true

env:
  CAIDO_NODE_VERSION: 20
  CAIDO_PNPM_VERSION: 9

jobs:
  typecheck:
    name: 'Typecheck'
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.CAIDO_NODE_VERSION }}

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.CAIDO_PNPM_VERSION }}

      - name: Install dependencies
        run: pnpm install

      - name: Run typechecker
        run: pnpm typecheck

  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.CAIDO_NODE_VERSION }}

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.CAIDO_PNPM_VERSION }}

      - name: Install dependencies
        run: pnpm install

      - name: Run linter
        run: pnpm lint